body {
    background-color: lab(97.34% 3.68 0.22);
    font-family: 'Montserrat';
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}
header {
    background-color: #f5eddb;
    color: white;
    display: flex;
    justify-content: space-between;
    position:absolute ;
    top: 0;
    left: 0;    
    width: 100%;
    height: 5rem;
    z-index: 1000; 
    font-size: bold;  
}
ul.menu{
    list-style: none;
    margin: 0;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
ul.menu li{
    margin: 0 3vmax;
    padding: 0;
    display: inline-block;
    right: 2rem;
}
#logoHeader {
    width: 70px;
    height: 80px;
    color: white;
    top: 1rem;
    margin-left: 200px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 1px;
    top: 2rem;
    gap: 2px;
    left: 170px;
}    
.menu a{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color:#4b1701;
    padding: 0.4rem 1rem;
    transition: 0.3s ease;
}
.menu a:hover{
    background-color: #793d21;
    color: white;
}
div.convite h1{
    font-size: 30px;
    font-weight: 800;
    font-family: montserrat;
    color:linear #4b1701 #793d21;
    background: linear-gradient(to right, #4b1701, #793d21);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 200px;
    margin-left: 200px;
}
div.convite p,ul{
    font-size: 15px;
    font-weight: 800;
    font-family: montserrat;
    color: #793d21;
    margin-top: ;
    margin-left: 200px;
}
.botao-agendar{
    margin-top: 20px;
    margin-left: 200px;
    font-size: 15px ;
    width:220px;
    font-family: montserrat;
    color: #ffffff;
    background-color: #4b1701;
    border: none;
    height: 30px;
    transition: 0.3s ease;
    gap: 10px;
    border-radius: 20px;
}
.botao-agendar:hover{
    background-color: #793d21;
    color: white;
}


























.Gis{
    margin-top: 200px;
    margin-left: 280px;
    font-size: 30px ;
    font-weight: 800;
    font-family: montserrat;
    color:linear #4b1701 #793d21;
    background: linear-gradient(to right, #4b1701, #793d21);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fthead{
    margin-left: 700px;
    width: 450px;
    height: 250px;
    margin-top: -100px;
    transition: 0,3s ease;
}
.fthead:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}
.texto-profile{
    margin-left: 200px;
    margin-top: -180px;
    font-size: 15px ;
    width:500px;
    margin-left: 270px;
    font-family: montserrat;
    color: #793d21;
}
#butaosobre{
    margin-left: 200px;
    margin-top: 40px;
    font-size: 15px ;
    width:220px;
    margin-left: 270px;
    font-family: montserrat;
    color: #ffffff;
    background-color: #4b1701;
    border: none;
    height: 30px;
    transition: 0.3s ease;
}
#butaosobre:hover{
    background-color: #793d21;
    color: white;
}
#butao ::after